h1{
    font-size: 65;
    text-align: center;
    color: white;
    padding: 10;
}


body{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("imags/Adventure.jpg") ;
    height: 100vh;
    background-size:auto;
    background-position: center;
    position: relative;
}


.button{
    background-color: rgb(226, 223, 219);
    padding: 10px 20px;
    border-radius: 6px;
    color: nave;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    transition: all 0.2s ease;
    position:fixed;
    top: 60%;
    left: 40%;
    
   
}